#photoshoot-header {
    padding: 20px;

    h1 {
        font-family: Arial Black;
    }
}

#photoshoot-content {
    width: 100%;
    #timer-circle {
        text-align: center;
        border: 5px solid #000;
        border-radius: 100%;
        width: 450px;
        height: 450px;
        margin: 0 auto;

        h1 {
            margin-top: 70px;
            font-family: Arial Black;
            font-size: 200px;
        }

        h2 {
            margin-top: 130px;
            font-family: Arial Black;
            font-size: 100px;
        }

        img {
            margin-top: 140px;
            width: 70%;
        }
    }

    #photo-array {
        margin-top: -120px;
        margin-left: 150px;

        canvas {
            width: 346px;
            height: 260px;
            opacity: 0;
        }

        ul {

            li {
                width: 40%;
                list-style: none;
                display: inline-block;
                margin-right: -300px;

                img {
                    width: 346px;
                    height: 260px;
                    display: inline;
                    border: 5px solid #000;
                }
            }
        }
    }
}