#selection-container {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 170px;

    h1 {
        font-family: Arial Black;
    }
}

#frame-count-container, #frame-color-container {

    h1 {
        text-align: center;
    }

    ul {
        width: 100%;
        text-align: center;
        margin-left: 0px;

        li {
            font-family: Arial Black;
            font-size: 180px;
            display: inline;
            margin-right: 100px;
        }
    }
}